<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PILOTOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pilotos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header">
        <ion-label>MAX VERSTAPPEN 1</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Nacionalidad: Países Bajos<br>
        Equipo: Red Bull Racing<br>
        <a href="https://es.wikipedia.org/wiki/Max_Verstappen" target="_blank">Más información</a>
      </div>
    </ion-accordion>
    
    <ion-accordion value="second">
      <ion-item slot="header">
        <ion-label>SERGIO "CHECO" PÉREZ 11</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Nacionalidad: México<br>
        Equipo: Red Bull Racing<br>
        <a href="https://es.wikipedia.org/wiki/Sergio_Pérez" target="_blank">Más información</a>
      </div>
    </ion-accordion>
    
    <ion-accordion value="third">
      <ion-item slot="header">
        <ion-label>LEWIS HAMILTON 44</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Nacionalidad: Reino Unido<br>
        Equipo: Mercedes<br>
        <a href="https://es.wikipedia.org/wiki/Lewis_Hamilton" target="_blank">Más información</a>
      </div>
    </ion-accordion>
    
    <ion-accordion value="fourth">
      <ion-item slot="header">
        <ion-label>GEORGE RUSSELL 63</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Nacionalidad: Reino Unido<br>
        Equipo: Mercedes<br>
        <a href="https://es.wikipedia.org/wiki/George_Russell" target="_blank">Más información</a>
      </div>
    </ion-accordion>
    
    <ion-accordion value="fifth">
      <ion-item slot="header">
        <ion-label>CHARLES LECLERC 16</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Nacionalidad: Mónaco<br>
        Equipo: Ferrari<br>
        <a href="https://es.wikipedia.org/wiki/Charles_Leclerc" target="_blank">Más información</a>
      </div>
    </ion-accordion>
    
    <ion-accordion value="sixth">
      <ion-item slot="header">
        <ion-label>CARLOS SAINZ JR. 55</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Nacionalidad: España<br>
        Equipo: Ferrari<br>
        <a href="https://es.wikipedia.org/wiki/Carlos_Sainz_Jr." target="_blank">Más información</a>
      </div>
    </ion-accordion>
    
    <ion-accordion value="seventh">
      <ion-item slot="header">
        <ion-label>LANDO NORRIS 4</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Nacionalidad: Reino Unido<br>
        Equipo: McLaren<br>
        <a href="https://es.wikipedia.org/wiki/Lando_Norris" target="_blank">Más información</a>
      </div>
    </ion-accordion>
    
    <ion-accordion value="eighth">
      <ion-item slot="header">
        <ion-label>OSCAR PIASTRI 81</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Nacionalidad: Australia<br>
        Equipo: McLaren<br>
        <a href="https://es.wikipedia.org/wiki/Oscar_Piastri" target="_blank">Más información</a>
      </div>
    </ion-accordion>
    
    <ion-accordion value="ninth">
      <ion-item slot="header">
        <ion-label>FERNANDO ALONSO 14</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Nacionalidad: España<br>
        Equipo: Aston Martin<br>
        <a href="https://es.wikipedia.org/wiki/Fernando_Alonso" target="_blank">Más información</a>
      </div>
    </ion-accordion>
    
    <ion-accordion value="tenth">
      <ion-item slot="header">
        <ion-label>LANCE STROLL 18</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Nacionalidad: Canadá<br>
        Equipo: Aston Martin<br>
        <a href="https://es.wikipedia.org/wiki/Lance_Stroll" target="_blank">Más información</a>
      </div>
    </ion-accordion>
    
    <ion-accordion value="eleventh">
      <ion-item slot="header">
        <ion-label>VALTTERI BOTTAS 77</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Nacionalidad: Finlandia<br>
        Equipo: Alfa Romeo<br>
        <a href="https://es.wikipedia.org/wiki/Valtteri_Bottas" target="_blank">Más información</a>
      </div>
    </ion-accordion>
    
    <ion-accordion value="twelfth">
      <ion-item slot="header">
        <ion-label>ZHOU GUANYU 24</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Nacionalidad: China<br>
        Equipo: Alfa Romeo<br>
        <a href="https://es.wikipedia.org/wiki/Guanyu_Zhou" target="_blank">Más información</a>
      </div>
    </ion-accordion>
    
    <ion-accordion value="thirteenth">
      <ion-item slot="header">
        <ion-label>PIERRE GASLY 10</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Nacionalidad: Francia<br>
        Equipo: Alpine<br>
        <a href="https://es.wikipedia.org/wiki/Pierre_Gasly" target="_blank">Más información</a>
      </div>
    </ion-accordion>
    
    <ion-accordion value="fourteenth">
      <ion-item slot="header">
        <ion-label>ESTEBAN OCON 31</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Nacionalidad: Francia<br>
        Equipo: Alpine<br>
        <a href="https://es.wikipedia.org/wiki/Esteban_Ocon" target="_blank">Más información</a>
      </div>
    </ion-accordion>
    
    <ion-accordion value="fifteenth">
      <ion-item slot="header">
        <ion-label>KEVIN MAGNUSSEN 20</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Nacionalidad: Dinamarca<br>
        Equipo: Haas<br>
        <a href="https://es.wikipedia.org/wiki/Kevin_Magnussen" target="_blank">Más información</a>
      </div>
    </ion-accordion>
    
    <ion-accordion value="sixteenth">
      <ion-item slot="header">
        <ion-label>NICO HULKENBERG 27</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Nacionalidad: Alemania<br>
        Equipo: Haas<br>
        <a href="https://es.wikipedia.org/wiki/Nico_Hulkenberg" target="_blank">Más información</a>
      </div>
    </ion-accordion>
    
    <ion-accordion value="seventeenth">
      <ion-item slot="header">
        <ion-label>ALEXANDER ALBON 23</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Nacionalidad: Tailandia<br>
        Equipo: Williams<br>
        <a href="https://es.wikipedia.org/wiki/Alexander_Albon" target="_blank">Más información</a>
      </div>
    </ion-accordion>
    
    
    
    <ion-accordion value="eighteenth">
      <ion-item slot="header">
        <ion-label>FRANCO COLAPINTO 21</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Nacionalidad: Argentina<br>
        Equipo: Williams<br>
        <a href="https://es.wikipedia.org/wiki/Franco_Colapinto" target="_blank">Más información</a>
      </div>
    </ion-accordion>

    <ion-accordion value="nineteenth">
      <ion-item slot="header">
        <ion-label>LIAM LAWSON 40</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Nacionalidad: Nueva Zelanda<br>
        Equipo: AlphaTauri<br>
        <a href="https://es.wikipedia.org/wiki/Liam_Lawson" target="_blank">Más información</a>
      </div>
    </ion-accordion>
    
    <ion-accordion value="twentieth">
      <ion-item slot="header">
        <ion-label>YUKI TSUNODA 22</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Nacionalidad: Japón<br>
        Equipo: AlphaTauri<br>
        <a href="https://es.wikipedia.org/wiki/Yuki_Tsunoda" target="_blank">Más información</a>
      </div>
    </ion-accordion>
    
  </ion-accordion-group>

  <!--<app-explore-container name="FOTOS"></app-explore-container>-->
</ion-content>
